.section1{
    width: 100%;
    height: 600px;
    background-color: blue;
    color: white;
    text-align: center;
    align-items: center;
}

.section2{
    width: 100vw;
    height: 600px;
    border: 1px solid black;
    padding-top: 200px;

}

.innerSection{
    height: 100%;
    border: 1px solid black;
}

.section3{
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

